<% provide(:title, "About us")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%</title>
  </head>
  <body>
    <h1>About</h1>
    <p> We are located at the Garden City Mall </p>
  </body>
</html>
