<% provide(:title, 'about')%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%</title>
  </head>
  <body>
    <h1>About</h1>
    <p> We are located at the Garden City Mall </p>
  </body>
</html>
